<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <!-- css link -->
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- bootstrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <!-- boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- fontawesome icon link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!-- logo icon on title -->
    <link rel="icon" href="/images/fav-icon.png" type="image/svg" />
    <title>SGI - Steveraton Group Incorporated|Blog</title>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-6Y3J4MZS6P");
    </script>
  </head>
  <body>
    <!-- NAVBAR -->

    <nav class="">
      <!-- navbar-section -->
      <div style="background-color: #111c24" class="navbar-section">
        <div class="Logo-brand web">
          <img
            style="width: 120px !important; padding-bottom: 24px"
            onclick="location.href='index.html'"
            src="images/steve.svg"
            class="w-75"
            alt=""
          />
        </div>

        <div class="nav-components">
          <ul id="web">
            <li id="open-onhover" class="text-light">
              <a id="first" href="#" class="text-decoration-none text-light">
                About Us <i class="ms-3 fa-solid fa-caret-down"></i
              ></a>
              <div class="sub-menu-1">
                <ul id="links-hover" class="">
                  <div class="split-left w-25">
                    <li class="sublinks">
                      <a
                        href="about.html"
                        class="text-decoration-none text-light d-flex align-items-center"
                        >Who We Are
                        <i
                          class="fa-solid fa-arrow-right-long fa-beat fs-6 ms-4"
                        ></i
                      ></a>
                    </li>
                    <li class="sublinks">
                      <a
                        href="leadership.html"
                        class="text-decoration-none text-light d-flex align-items-center"
                        >Leadership
                        <i
                          class="fa-solid fa-arrow-right-long fa-beat fs-6 ms-4"
                        ></i
                      ></a>
                    </li>
                    <li class="sublinks">
                      <a
                        href="about.html#sgi-milestone"
                        class="text-decoration-none text-light d-flex align-items-center"
                        >SGI Milestone
                        <i
                          class="fa-solid fa-arrow-right-long fa-beat fs-6 ms-4"
                        ></i
                      ></a>
                    </li>
                  </div>

                  <div class="split-right w-25">
                    <li class="sublinks">
                      <a
                        href="csr.html"
                        class="text-decoration-none text-light d-flex align-items-center"
                        >CSR
                        <i
                          class="fa-solid fa-arrow-right-long fa-beat fs-6 ms-4"
                        ></i
                      ></a>
                    </li>
                  </div>
                </ul>

                <div
                  id="down"
                  class="d-flex justify-content-between align-items-center sub-animate web"
                >
                  <div class="logo">
                    <img style="width: 80px" src="images/steve.svg" alt="" />
                  </div>
                  <div class="animation">
                    <img class="w-75" src="images/animated.png" alt="" />
                  </div>
                </div>
              </div>
            </li>

            <li id="view-onhover" class="text-light">
              <a href="#" class="text-decoration-none text-light"
                >Our Businesses <i class="ms-3 fa-solid fa-caret-down"></i
              ></a>
              <div class="sub-menu-1">
                <ul id="links-hover" class="">
                  <div class="split-left">
                    <li class="sublinks">
                      <a
                        href="autotech.html"
                        class="text-decoration-none text-light d-flex align-items-center"
                        >Autotech
                        <i
                          class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                        ></i
                      ></a>
                      <span class="text-secondary text-start fs-5"
                        >The African auto industry has experienced..</span
                      >
                    </li>
                    <li class="sublinks">
                      <a
                        href="technology.html"
                        class="text-decoration-none text-light d-flex align-items-center"
                        >Technology
                        <i
                          class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                        ></i
                      ></a>
                      <span class="text-secondary text-start fs-5"
                        >At Brainiac, we're dedicated to ...</span
                      >
                    </li>
                    <li class="sublinks">
                      <a
                        href="export.html"
                        class="text-decoration-none text-light d-flex align-items-center"
                        >Export
                        <i
                          class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                        ></i
                      ></a>
                      <span class="text-secondary text-start fs-5"
                        >We provide tailored export ...</span
                      >
                    </li>
                    <li class="sublinks">
                      <a
                        href="energy.html"
                        class="text-decoration-none text-light d-flex align-items-center"
                        >Energy
                        <i
                          class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                        ></i
                      ></a>
                      <span class="text-secondary text-start fs-5"
                        >Explore our cleean energy prowess with ...</span
                      >
                    </li>
                  </div>

                  <div class="split-right w-50">
                    <li class="sublinks">
                      <a
                        href="finance.html"
                        class="text-decoration-none text-light d-flex align-items-center"
                        >Finance
                        <i
                          class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                        ></i
                      ></a>
                      <span class="text-secondary text-start fs-5"
                        >We provide tailored financial services</span
                      >
                    </li>
                    <li class="sublinks">
                      <a
                        href="investment.html"
                        class="text-decoration-none text-light d-flex align-items-center"
                        >Investment
                        <i
                          class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                        ></i
                      ></a>
                      <span class="text-secondary text-start fs-5"
                        >Comprised of seasoned investment professionals
                        ...</span
                      >
                    </li>
                    <li class="sublinks">
                      <a
                        href="real-estate.html"
                        class="text-decoration-none text-light d-flex align-items-center"
                        >Real Estate
                        <i
                          class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                        ></i
                      ></a>
                      <span class="text-secondary text-start fs-5"
                        >At Sgi, we believe that owning a home</span
                      >
                    </li>
                    <li class="sublinks">
                      <a
                        href="mining.html"
                        class="text-decoration-none text-light d-flex align-items-center"
                        >Mining
                        <i
                          class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                        ></i
                      ></a>
                      <span class="text-secondary text-start fs-5"
                        >The future of innovation is today ...</span
                      >
                    </li>
                  </div>
                </ul>

                <div
                  id="down"
                  class="d-flex justify-content-between align-items-center sub-animate2 web"
                >
                  <div class="logo">
                    <img style="width: 80px" src="images/steve.svg" alt="" />
                  </div>
                  <div class="animation">
                    <img class="w-75" src="images/animated.png" alt="" />
                  </div>
                </div>
              </div>
            </li>

            <li id="drop-onhover" class="text-light d-none">
              <a href="#" class="text-decoration-none text-light">
                Investor Relations <i class="ms-3 fa-solid fa-caret-down"></i
              ></a>
              <div class="sub-menu-1">
                <ul id="links-hover" class="">
                  <div class="split-left">
                    <li class="sublinks">
                      <a
                        href="performance.html"
                        class="text-decoration-none text-light d-flex align-items-center"
                        >Performance Report
                        <i
                          class="fa-solid fa-arrow-right-long fa-beat fs-6 ms-4"
                        ></i
                      ></a>
                    </li>
                    <li class="sublinks">
                      <a
                        href="report.html"
                        class="text-decoration-none text-light d-flex align-items-center"
                        >2022 Report
                        <i
                          class="fa-solid fa-arrow-right-long fa-beat fs-6 ms-4"
                        ></i
                      ></a>
                    </li>
                  </div>
                </ul>

                <div
                  id="down"
                  class="d-flex justify-content-between align-items-center sub-animate3 web"
                >
                  <div class="logo">
                    <img style="width: 80px" src="images/steve.svg" alt="" />
                  </div>
                  <div class="animation">
                    <img class="w-75" src="images/animated.png" alt="" />
                  </div>
                </div>
              </div>
            </li>

            <li class="text-light">
              <a href="sustainability" class="text-decoration-none text-light"
                >Sustainability</a
              >
            </li>

            <li class="text-light">
              <a href="careers" class="text-decoration-none text-light"
                >Careers</a
              >
            </li>

            <li id="last" class="text-light">
              <a href="contact" class="text-decoration-none text-light"
                >Contact Us</a
              >
            </li>
            <li id="last" class="text-light">
              <a href="/blog" class="text-decoration-none text-light">Blog</a>
            </li>
          </ul>

          <ul id="mob" class="">
            <li id="reveal" class="text-light">
              <a href="#" class="text-light text-decoration-none"
                >About Us <i class="ms-3 fa-solid fa-caret-down"></i
              ></a>

              <ul id="x1" class="ms-5">
                <li class="sublinks">
                  <a
                    href="about.html"
                    class="text-decoration-none text-light d-flex align-items-center"
                    >Who We Are
                    <i
                      class="fa-solid fa-arrow-right-long fa-beat fs-6 ms-4"
                    ></i
                  ></a>
                </li>
                <li class="sublinks">
                  <a
                    href="leadership.html"
                    class="text-decoration-none text-light d-flex align-items-center"
                    >Leadership
                    <i
                      class="fa-solid fa-arrow-right-long fa-beat fs-6 ms-4"
                    ></i
                  ></a>
                </li>
                <li class="sublinks">
                  <a
                    href="about.html#sgi-milestone"
                    class="text-decoration-none text-light d-flex align-items-center"
                    >SGI Milestone
                    <i
                      class="fa-solid fa-arrow-right-long fa-beat fs-6 ms-4"
                    ></i
                  ></a>
                </li>
                <li class="sublinks">
                  <a
                    href="csr.html"
                    class="text-decoration-none text-light d-flex align-items-center"
                    >CSR
                    <i
                      class="fa-solid fa-arrow-right-long fa-beat fs-6 ms-4"
                    ></i
                  ></a>
                </li>
              </ul>
            </li>

            <li id="shown" class="text-light">
              <a href="#" class="text-light text-decoration-none"
                >Our Businesses <i class="ms-3 fa-solid fa-caret-down"></i
              ></a>

              <ul id="y2" class="ms-5">
                <div class="flex-wrap">
                  <div class="row">
                    <div class="col">
                      <li class="sublinks">
                        <a
                          href="autotech.html"
                          class="text-decoration-none text-light d-flex align-items-center"
                          >Autotech
                          <i
                            class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                          ></i
                        ></a>
                      </li>
                      <li class="sublinks">
                        <a
                          href="technology.html"
                          class="text-decoration-none text-light d-flex align-items-center"
                          >Technology
                          <i
                            class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                          ></i
                        ></a>
                      </li>
                      <li class="sublinks">
                        <a
                          href="export.html"
                          class="text-decoration-none text-light d-flex align-items-center"
                          >Export
                          <i
                            class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                          ></i
                        ></a>
                      </li>
                      <li class="sublinks">
                        <a
                          href="energy.html"
                          class="text-decoration-none text-light d-flex align-items-center"
                          >Energy
                          <i
                            class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                          ></i
                        ></a>
                      </li>
                    </div>
                    <div class="col">
                      <li class="sublinks">
                        <a
                          href="finance.html"
                          class="text-decoration-none text-light d-flex align-items-center"
                          >Finance
                          <i
                            class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                          ></i
                        ></a>
                      </li>
                      <li class="sublinks">
                        <a
                          href="investment.html"
                          class="text-decoration-none text-light d-flex align-items-center"
                          >Investment
                          <i
                            class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                          ></i
                        ></a>
                      </li>
                      <li class="sublinks">
                        <a
                          href="real-estate.html"
                          class="text-decoration-none text-light d-flex align-items-center"
                          >Real Estate
                          <i
                            class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                          ></i
                        ></a>
                      </li>
                      <li class="sublinks">
                        <a
                          href="mining.html"
                          class="text-decoration-none text-light d-flex align-items-center"
                          >Mining
                          <i
                            class="fa-solid fa-arrow-right-long fa-beat ms-4 fs-6"
                          ></i
                        ></a>
                      </li>
                    </div>
                  </div>
                </div>
              </ul>
            </li>

            <li id="drop" class="d-none text-light">
              <a href="#" class="text-light text-decoration-none"
                >Investor Relations <i class="ms-3 fa-solid fa-caret-down"></i
              ></a>

              <ul id="z3" class="ms-5">
                <li class="sublinks">
                  <a
                    href="performance.html"
                    class="text-decoration-none text-light d-flex align-items-center"
                    >Performance Report
                    <i
                      class="fa-solid fa-arrow-right-long fa-beat fs-6 ms-4"
                    ></i
                  ></a>
                </li>
                <li class="sublinks">
                  <a
                    href="report.html"
                    class="text-decoration-none text-light d-flex align-items-center"
                    >2022 Report
                    <i
                      class="fa-solid fa-arrow-right-long fa-beat fs-6 ms-4"
                    ></i
                  ></a>
                </li>
              </ul>
            </li>

            <li class="taxt-light">
              <a
                href="sustainability.html"
                class="text-light text-decoration-none"
                >Sustainability</a
              >
            </li>
            <li class="taxt-light">
              <a href="careers.html" class="text-light text-decoration-none"
                >Careers</a
              >
            </li>
            <li class="taxt-light">
              <a href="contact.html" class="text-light text-decoration-none"
                >Contact Us</a
              >
            </li>
          </ul>
        </div>

        <div class="covid-restrictions web">
          <marquee class="covid-text">
            <div class="marquee-content">
              <p class="p-0 m-0 text-light">
                *Eid Al Fitr to all our Muslim Family*
              </p>
              <p class="p-0 m-0 text-light">
                *Eid Al Fitr to all our Muslim Family*
              </p>
              <p class="p-0 m-0 text-light">
                *Eid Al Fitr to all our Muslim Family*
              </p>
              <p class="p-0 m-0 text-light">
                *Eid Al Fitr to all our Muslim Family*
              </p>
            </div>
          </marquee>
        </div>

        <div
          style="background-color: #111c24"
          class="w-100 mobile d-flex align-items-center justify-content-between position-absolute"
        >
          <div id="mobile" class="mobile brand p-3 ps-4">
            <img
              style="width: 150px"
              onclick="location.href='index.html'"
              src="images/steve.svg"
              class="text-light"
              alt=""
            />
          </div>
          <div class="icon-box align-items-center ms-auto">
            <i class="bx bx-menu" id="menu-icon"></i>
          </div>
          <div class="covid-restrictions mobile">
            <marquee class="mb-0 text-light">
              Happy Ramadan Kareem to all Our Muslim Family
            </marquee>
          </div>
        </div>
      </div>
    </nav>

    <!-- NAVBAR END -->

    <h1 class="blog-page-intro">This is for Blog Lovers</h1>
    <div class="blog-container">
      <!-- Blog Entries -->
      <% allBlogs.forEach(blog => { %> <% var blogLink = '/singlepost/' +
      blog._id; %> <% var updateBlog = '/edit-blog/' + blog._id %>
      <div class="blog-entry">
        <a href="<%= blogLink %>">
          <img src="<%= blog.image%>" alt="<%= blog.title1%>" />
        </a>
        <h2 class="blog-title"><%= blog.title1 %></h2>
        <p class="blog-date">Published on: <%= blog.createdAt %></p>
        <p class="blog-content">
          <%= truncateString(blog.description1, 100) %>
        </p>
      </div>

      <% }); %>

      <!-- Repeat the structure for other blog entries (2-9) -->

      <!-- ... Repeat for entries 3-9 ... -->
    </div>
  </body>
</html>
